.accardion
    &__title
        border: 1px solid green
        display: inline-block
        padding: 5px 10px
        cursor: pointer
        &.open
            background-color: pink

    &__content
        border: 1px solid purple
        opacity: 0
        padding: 5px 10px
        pointer-events: none
        position: absolute
        &.open
            background-color: pink
            opacity: 1
            pointer-events: auto
            position: relative
            transition: opacity .3s
