@import popup
@import accardion
@import smooth-scroll
@import qwiz
@import inputrange
@import my-select
@import my-select--skin-1
@import before-after


html
  box-sizing: border-box
  margin: 0
  padding: 0

body
  box-sizing: border-box
  margin: 0
  padding: 0
  background-color: #6699CC

button
  cursor: pointer

.top_fixed
  background-color: #ffffff
  bottom: 0
  left: 0
  position: fixed
  width: 100%
